/* Generics  */
body{
    background-color: lightgray;
}

li>span{
    cursor: pointer;
}

/* Utils  */
#app{
    background-color: white;
}

/* Main   */
.bi-trash{
    cursor: pointer;
}
.bi-trash:hover{
    color: red;
}